<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Law Office of Elliot J. Wiesner, P.C.</a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="#">Home</a></li>
                    <li class="active"><a href="/#/areasOfPractice">Areas of Practice</a></li>
                    <li><a href="/#/profile">Profile</a></li>
                    <li><a href="/#/contact">Contact</a></li>
                    <li><a href="/#/disclaimer">Disclaimer</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="span3">
            <img class="img-responsive img-rounded" src="images/elliot-300x375.jpg"><!-- take out img-rounded if you don't want the rounded corners on the image -->
        </div>

        <div class="span6">
            <h3>Areas of Practice</h3>
            <ul>
                <li>
                    <a href="/#/areasOfPractice#traffic">
                        Traffic Violations, Municipal Court and Criminal Defense
                    </a>
                </li>
                <li>
                    <a href="/#/areasOfPractice#business">
                        Business Law, Commercial Litigation and Collections
                    </a>
                </li>
                <li>
                    <a href="/#/areasOfPractice#family">
                        Family Law
                    </a>
                </li>
                <li>
                    <a href="/#/areasOfPractice#realestate">
                        Residential and Commercial Real Estate
                    </a>
                </li>
            </ul>

            <br>

            <h4><a name="traffic">Traffic Violations, Municipal Court, Criminal Defense</a></h4>
            <p>If you get a ticket or are arrested by any Police Officer you should obtain legal advice.  The Firm handles all traffic violations including driving under the influence of alcohol or drugs (DUI/DWI), driving with a revoked or suspended license, driving without insurance, speeding, reckless driving, etc.  The consequences of a guilty plea or finding of guilty to such charges may result in points on your license, substantial fines, insurance premium increases, Motor Vehicle Commission surcharges, license suspension, jail time, community service and the installation of an <a href="http://www.intoxalock.com" target="_blank">ignition interlock device</a>.  Individuals who rely on their drivers license for a living, such as truck, cab or limo drivers face the loss of their job.  Thus, I recommend that anyone who has a commercial drivers license (CDL) retain a lawyer in all traffic matters.
            <p>The Firm represents drivers at administrative license hearings at the various NJ Motor Vehicle Commission offices.  Additionally, the Firm represents both New Jersey and out of state commercial trucking and carting companies for all types of equipment and overweight violations.
            <p>As an attorney I help drivers in difficult legal situations throughout New Jersey. The Judge will tell you that you have a legal right to have an attorney represent you in court. I suggest that you don't face the prosecutor, police officer and Judge alone.
            <p>While criminal matters like drug possession, shoplifting, assault and domestic violence may be handled by the Municipal Courts, more serious crimes (indictable's) are handled by the Superior Court in each County. A guilty plea to any criminal charge can result in a criminal record, fines, jail and deportation. You have a right to hire your own attorney. Once again I suggest you do not face the prosecutor and Judge alone.  The Firm also does expungments of arrest records, disorderly persons, petty disorderly persons and criminal convictions.
            <p>Mr. Wiesner has written the 'Practice Commentary and Annotations' for the New Jersey Court Rules Annotated, Part VII, Rules Governing the Practice in the Municipal Court, published by LexisNexis, 2008 and 2009 editions.

            <h4><a name="business">Business Law, Commercial Litigation and Collections</a></h4>
            <p>The Firm represents a wide range of businesses, from car dealerships, heating and air conditioning contractors, trucking companies and machine re-sellers with revenues of millions of dollars a year to smaller "Mom and Pop" businesses such as pizzerias, liquor stores, transmission repair shops and florists.  These businesses are located throughout New Jersey.  The firm also represents out of state clients needing local NJ legal representation.
            <p>Services provided to business clients includes Corporation and Limited Liability Company formation, collections, contract and lease negotiations, the purchase/sale of businesses and/or commercial real estate and business counseling.  The Firm litigates breach of contracts, collections, class actions, and consumer and odometer fraud matters.  Mr. Wiesner has a Master of Business Administration (MBA) degree which gives him a "business view" of business issues, not just the legal view.
            <h4><a name="family">Family Law</a></h4>
            <p>Family law deals with highly sensitive issues that are emotionally difficult for all involved. My goal is to protect my clients' rights while keeping their best interests in mind. The Firm handles family law matters including divorce, separation and property settlement agreements, domestic violence, child support, visitation and custody, name changes, and the enforcement of Orders and Judgments.
            <p>The Firm also handles the defense of parents in child abuse, neglect, and Termination of Parental Rights (TPR) cases litigated in family court by the Division of Child Protection and Permanency (DCPP), formally the Division of Youth and Family Services (DYFS).  Mr. Wiesner has personally defended over 300 parents in DCPP cases in Mercer, Middlesex and Essex counties.
            <h4><a name="realestate">Residential and Commercial Real Estate</a></h4>
            <p>The purchase of a home is usually the biggest investment in a person's life. A real estate transaction is a complicated matter which most people are not experienced enough to handle on their own. I recommend legal assistance to avoid mistakes which could delay the closing process. The Firm handles the sale, purchase, refinancing and lease of properties such as single and multiple family homes, cooperatives, condominiums and commercial property.</p>
        </div>

        <div class="span3">
            <h2>Contact Us</h2>
            <address>
                <strong>Elliot J. Wiesner, P.C.</strong><br>
                93 Minuteman Circle<br>
                Allentown, NJ, 08501<br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr> (609)-259-7600<br>
                <abbr title="Email">E:</abbr> <a href="mailto:#">lawyerew@verizon.net</a>
            </address>
            <p><a class="btn btn-primary btn-large" href="/#/contact">Contact Us &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        &copy; 2013 Elliot J. Wiesner, P.C. All rights reserved.
        <br>
        If you have any comments or suggestions about this Web site, please e-mail the <a href="mailto:brettwiesner@gmail.com">webmaster</a>.
    </footer>

</div> <!-- /container -->