<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Law Office of Elliot J. Wiesner, P.C.</a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="/#/areasOfPractice">Areas of Practice</a></li>
                    <li><a href="/#/profile">Profile</a></li>
                    <li><a href="/#/contact">Contact</a></li>
                    <li class="active"><a href="/#/disclaimer">Disclaimer</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">


    <!-- content start -->
    <h3>Disclaimers and Copyright</h3>
    <p>   This Web site is designed and intended only for general informational purposes.   The information presented here is not to be construed as formal legal advice or   recommendations, nor does it form a lawyer/client relationship. You are encouraged   to seek independent legal advice regarding your individual legal needs. </p>

    <p>   Copyright &copy 2011 Elliot J. Wiesner, P.C. All rights reserved. All materials presented   on this site are copyrighted and owned by Elliot J. Wiesner, P.C. or other entities as   designated. This site and all included graphics, HTML and other materials are owned by   Elliot J. Wiesner, P.C. No part may be reproduced, copied, printed, stored, transmitted,   downloaded, distributed or used in any form or by any means, without the prior written   permission of Elliot J. Wiesner, P.C., except for noncommercial, personal and informational   purposes. Each copy of these materials must contain all copyright and other proprietary notices. </p>
    <h3>No Representations</h3>
    <p>   This site is not an offer to represent you. The content of any e-mail sent to Elliot J. Wiesner, P.C. will not create an   attorney - client relationship and will not be treated as confidential. </p>
    <p>   This material may contain technical or typographical errors. Elliot J. Wiesner, P.C. does not   guarantee its accuracy, completeness or suitability. ELLIOT J. WIESNER, P.C. WILL NOT BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES RELATING TO THIS MATERIAL, FOR   ANY USE OF THIS WEB SITE, OR FOR ANY OTHER HYPERLINKED WEBSITE. Elliot J. Wiesner, P.C. takes no   responsibility and makes no warranty or representations for the content or information   contained on sites linked to or from this site.  </p>
    <!-- content end -->


    <hr>

    <footer>
        <p>&copy; 2013 Elliot J. Wiesner, P.C. All rights reserved.</p>

        <p>If you have any comments or suggestions about this Web site, please e-mail the <a
                href="mailto:brettwiesner@gmail.com">webmaster</a>.</p>
    </footer>

</div> <!-- /container -->