
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Law Office of Elliot J. Wiesner, P.C.</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">Areas of Practice</a></li>
                    <li><a href="#profile">Profile</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#disclaimer">Disclaimer</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="span12">
            <img class="img-responsive img-rounded" src="http://gottashopit.com/service_images/Divorce_Lawyers.jpg"><!-- take out img-rounded if you don't want the rounded corners on the image -->
        </div>
    </div>

    <div class="row">
        <div class="span8">
            <h2>What We Do</h2>
            <p>
            The Law Firm of Elliot J. Wiesner, P.C. provides personal and quality services to its clients. We keep our clients fully informed of the status of their case and strive to return all phone calls within 24 hours.</p>

            <p>The Firm represents clients from individuals to businesses with sales of millions of dollars a year. Matters are handled on a flat fee, hourly, or contingent basis. All credit and debit cards are accepted.</p>

            <h3>Areas of Practice</h3>
            <ul>
                <li>
                    <a href="areasofpractice.html#traffic">
                        Traffic Violations, Municipal Court and Criminal Defense
                    </a>
                </li>
                <li>
                    <a href="areasofpractice.html#business">
                        Business Law, Commercial Litigation and Collections
                    </a>
                </li>
                <li>
                    <a href="areasofpractice.html#family">
                        Family Law
                    </a>
                </li>
                <li>
                    <a href="areasofpractice.html#realestate">
                        Residential and Commercial Real Estate
                    </a>
                </li>
                <li>
                    <a href="areasofpractice.html#wills">
                        Wills, Power of Attorney, Living Will / Health Care Proxy
                    </a>
                </li>
            </ul>

            <p><a class="btn btn-primary btn-large" href="#">More Info &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Contact Us</h2>
            <address>
                <strong>Elliot J. Wiesner, P.C.</strong><br>
                93 Minuteman Circle<br>
                Allentown, NJ, 08501<br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr> (732)-418-0101<br>
                <abbr title="Email">E:</abbr> <a href="mailto:#">first.last@example.com</a>
            </address>
            <p><a class="btn btn-primary btn-large" href="#">Contact Us &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2013 Elliot J. Wiesner, P.C. All rights reserved.</p>
        <p>If you have any comments or suggestions about this Web site, please e-mail the <a href="mailto:brettwiesner@gmail.com">webmaster</a>.</p>


    </footer>

</div> <!-- /container -->