<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Law Office of Elliot J. Wiesner, P.C.</a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="/#/areasOfPractice">Areas of Practice</a></li>
                    <li class="active"><a href="/#/profile">Profile</a></li>
                    <li><a href="/#/contact">Contact</a></li>
                    <li><a href="/#/disclaimer">Disclaimer</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="span12">
            <h3>Profile of Elliot J. Wiesner, Esq.</h3>

            <div class="row">

                <div class="span8">
                    <h4>Bar Admissions</h4>
                    <ul>
                        <li> New Jersey</li>
                        <li> U.S. District Court of New Jersey</li>
                        <li> New York</li>
                        <li> Florida</li>
                        <li> Washington, District of Columbia</li>
                    </ul>

                    <h4>Education</h4>
                    <ul>
                        <li> JD, Rutgers University School of Law - Newark, NJ</li>
                        <li> MBA, Adelphi University, Graduate School of Business, Garden City, NY</li>
                        <li> BS, Mathematics, Polytechnic University, Brooklyn, NY</li>
                    </ul>

                </div>

                <div class="span4">
                    <img src="images/elliot-wiesner-nj.jpg">
                </div>
            </div>

            <div class="row">
                <div class="span12">

                    <h4>Publications</h4>

                    <p>Author of the 'Practice Commentary and Annotations' for the New Jersey Court Rules Annotated,
                        Part VII, Rules Governing the Practice in the Municipal Court, published by LexisNexis, 2008 and
                        2009 editions.

                    <h4>Memberships</h4>
                    <ul>
                        <li> New Jersey State Bar Association, Municipal Court Practice Section, Positions Held: Chair,
                            Vice-Chair, Legislative Coordinator
                        </li>
                        <li> Middlesex County Bar Association</li>
                    </ul>

                    <h4>Personal</h4>
                    <ul>
                        <li> Married, one child</li>
                        <li> Interests: travel, yoga</li>
                        <li> Appointed member, Upper Freehold Township Environmental Advisory Committee</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2013 Elliot J. Wiesner, P.C. All rights reserved.</p>

        <p>If you have any comments or suggestions about this Web site, please e-mail the <a
                href="mailto:brettwiesner@gmail.com">webmaster</a>.</p>
    </footer>

</div> <!-- /container -->