<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Law Office of Elliot J. Wiesner, P.C.</a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="/#/areasOfPractice">Areas of Practice</a></li>
                    <li class="active"><a href="/#/profile">Profile</a></li>
                    <li><a href="/#/contact">Contact</a></li>
                    <li><a href="/#/disclaimer">Disclaimer</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="span3">
            <img class="img-responsive img-rounded" src="images/elliot-300x375.jpg"><!-- take out img-rounded if you don't want the rounded corners on the image -->
        </div>

        <div class="span6">
            <h3>Profile of Elliot J. Wiesner, Esq.</h3>
            <h4>Bar Admissions</h4>
            <ul>
                <li> New Jersey</li>
                <li> U.S. District Court of New Jersey</li>
                <li> Florida (inactive)</li>
                <li> Washington, District of Columbia (inactive)</li>
            </ul>

            <h4>Education</h4>
            <ul>
                <li> JD, Rutgers University School of Law - Newark, NJ</li>
                <li> MBA, Adelphi University, Graduate School of Business, Garden City, NY</li>
                <li> BS, Mathematics, Polytechnic University, Brooklyn, NY</li>
            </ul>

            <h4>Publications</h4>

            <p>Author of the 'Practice Commentary and Annotations' for the New Jersey Court Rules Annotated,
                Part VII, Rules Governing the Practice in the Municipal Court, published by LexisNexis, 2008 and
                2009 editions.</p>

            <h4>Memberships</h4>
            <ul>
                <li> New Jersey State Bar Association, Municipal Court Practice Section, Positions Held: Director, Chair, Legislative Coordinator</li>
                <li> Middlesex County Bar Association</li>
                <li> Upper Freehold Township Environmental Advisory Committee</li>
            </ul>

            <h4>Personal</h4>
            <ul>
                <li> Married, one child</li>
                <li> Interests: travel, yoga</li>
            </ul>
        </div>

        <div class="span3">
            <h2>Contact Us</h2>
            <address>
                <strong>Elliot J. Wiesner, P.C.</strong><br>
                93 Minuteman Circle<br>
                Allentown, NJ, 08501<br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr> (609)-259-7600<br>
            </address>
            <p><a class="btn btn-primary btn-large" href="/#/contact">Contact Us &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        &copy; 2014 Elliot J. Wiesner, P.C. All rights reserved.
        <br>
        If you have any comments or suggestions about this Web site, please e-mail the <a href="mailto:brettwiesner@gmail.com">webmaster</a>.
        <br>
        <img class="img-responsive img-rounded" src="https://ssl.trustwave.com/images/sealimages/tc-seal-white.png">
    </footer>

</div> <!-- /container -->